<%= render HeaderSectionComponent.new %>

<div class="w-full overflow-hidden rounded-lg shadow-xs">
  <div class="w-full overflow-x-auto">
    <table class="w-full whitespace-no-wrap">
      <thead>
        <tr
          class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b bg-gray-50"
        >
          <th class="px-4 py-3">#</th>
          <th class="px-4 py-3">Email address</th>
          <th class="px-4 py-3">Date</th>
          <th class="px-4 py-3">Status</th>
        </tr>
      </thead>
      <tbody
        class="bg-white divide-y"
      >
        <% @subscribers.each_with_index do |subscriber, index| %>
          <tr class="text-gray-700">
            <td class="px-4 py-3 text-sm">  
              <%= index + 1 %>
            </td>
            <td class="px-4 py-3 text-sm">
              <%= subscriber.email %>
            </td>
            <td class="px-4 py-3 text-sm">
              <%= subscriber.created_at.strftime('%b %-d, %Y') %>
            </td>
            <td class="px-4 py-3">
              <div class="flex items-center space-x-4 text-sm">

                <label for="<%= subscriber.id %>" class="inline-flex relative items-center cursor-pointer">
                  <input type="checkbox" value="" id="<%= subscriber.id %>" class="sr-only peer subscriber-checkbox" <%= 'checked' if subscriber.active?  %> >
                  <div class="w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-purple-300 rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all peer-checked:bg-purple-600"></div>
                </label>

              </div>
            </td>
          </tr>

        <% end %>
      </tbody>
    </table>
  </div>

  <%= paginate @subscribers %>
</div>
