<div class="mt-5 mb-10 flex items-center justify-center">
  <div class="mt-10 lg:w-1/2 md:w-auto">

    <div class="mt-2 border-t-4 border-blue-700">
      
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
        
        <div class="px-4 py-3 bg-gray-10 text-center sm:px-6 shadow overflow-hidden">
          <h1>Signup</h1>
        </div>
        <div class="shadow overflow-hidden">
          <div class="px-4 bg-white lg:p-6">

            <%= f.error_notification %>              
            <%= f.input :first_name %>
            <%= f.input :middle_name %>
            <%= f.input :last_name %>            
            <%= f.input :sex, label: "Sex:", collection: [["Male", "male"], ["Female", "female"]], as: :radio_buttons, checked: :male %>

            <div class="col-span-3 sm:col-span-2">
              <%= f.label :email %>
              <div class="mt-1 flex rounded-md shadow-sm">
                <%= f.input :email, wrapper: false, label: false, full_error: false, placeholder: "wuletaw.wonte", class: "block w-full flex-1 rounded-none rounded-l-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
                <span class="inline-flex items-center rounded-r-md border border-l-0 border-gray-300 bg-gray-50 px-3 text-sm text-gray-500">@amu.edu.et</span>
              </div>
              <%= f.full_error :email, class: "mt-2 text-red-600 text-xs italic" %>
            </div>

            <%= f.input :password, required: :true, hint: "6 characters minimum" %>
            <%= f.input :password_confirmation, required: :true %>

          </div>
          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <%= link_to "Sign in", new_user_session_path, class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium p-2.5 text-black focus:outline-none" %>
            <%= f.submit "Sign up", class: "inline-flex justify-center py-2 px-4 cursor-pointer border border-transparent shadow-sm text-sm font-medium rounded-md p-2.5 text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
          </div>

        </div>
      <% end  %>

    </div>
  </div>
</div>
