<div class="mb-5 flex items-center justify-center">
  <div class="my-5 lg:w-1/2 md:w-auto">

    <div class="mt-2 border-t-4 border-purple-700">

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false}) do |f| %>

        <div class="shadow overflow-hidden">
          <div class="px-4 bg-white lg:p-6">

            <%= f.error_notification %>
            <%= f.input :first_name %>
            <%= f.input :middle_name %>
            <%= f.input :last_name %>
            <%= f.input :sex, as: :radio_buttons, collection: User.sexes.keys, checked: User.sexes[0] %>
            <%= f.input :email, placeholder: "wuletaw.wonte@amu.edu.et", hint: "Please use AMU occupational email" %>

            <%= f.input :password, required: true, hint: "6 characters minimum" %>
            <%= f.input :password_confirmation, required: true %>

          </div>
          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <%= link_to "Sign in", new_user_session_path, class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium p-2.5 text-black focus:outline-none" %>
            <%= f.submit "Sign up", class: "inline-flex justify-center py-2 px-4 cursor-pointer border border-transparent shadow-sm text-sm font-medium rounded-md p-2.5 text-white bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500" %>
          </div>

        </div>
      <% end %>

    </div>
  </div>
</div>
