<div class="mt-5 mb-10 flex items-center justify-center">
  <div class="mt-10 w-1/2">

    <div class="mt-2 border-t-4 border-blue-700">
      
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
        
        <div class="shadow overflow-hidden">
          <div class="px-4 bg-white lg:p-6">

            <%= f.error_notification %>              
            <%= f.input :first_name %>
            <%= f.input :middle_name %>
            <%= f.input :last_name %>            
            <%= f.input :sex, label: "Sex:", collection: [["Male", "male"], ["Female", "female"]], as: :radio_buttons, checked: :male %>
            <%= f.input :email, hint: "Please use AMU institutional email", placeholder: "wuletaw.wonte@amu.edu.et" %>

            <%= f.input :password, required: :true, hint: "6 characters minimum" %>
            <%= f.input :password_confirmation, required: :true %>

          </div>
          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <%= link_to "Sign in", new_user_session_path, class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md p-2.5 text-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
            <%= f.submit "Sign up", class: "inline-flex justify-center py-2 px-4 cursor-pointer border border-transparent shadow-sm text-sm font-medium rounded-md p-2.5 text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
          </div>

        </div>
      <% end  %>

    </div>
  </div>
</div>
