
<%= render HeaderSectionComponent.new do %>
  <% if can? :create, ResearchType %>
    <%= link_to "New research type", new_research_type_path, class: "px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border rounded-lg border-transparent active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple" %>
    <%= render ButtonComponent.new("Hello", new_research_type_path)%>
  <% end %>
<% end %>

<div class="w-full overflow-hidden rounded-lg shadow-xs">
  <div class="w-full overflow-x-auto">
    <table class="w-full whitespace-no-wrap">
      <thead>
        <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b bg-gray-50">
          <th class="px-4 py-3">#</th>
          <th class="px-4 py-3">Research type</th>
          <th class="px-4 py-3">Date</th>
          <th class="px-4 py-3">Actions</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y">
        <% @research_types.each_with_index do |research_type, index| %>
          <tr class="text-gray-700">
            <td class="px-4 py-3 text-sm">  
              <%= index + 1 %>
            </td>
            <td class="px-4 py-3 text-sm">
              <%= link_to research_type.name, research_type_path(research_type) %>
            </td>
            <td class="px-4 py-3 text-sm">
              <%= research_type.created_at %>
            </td>
            <td class="px-4 py-3">
              <div class="flex items-center space-x-4 text-sm">
                <%= link_to edit_research_type_path(research_type) do %>
                  <%= icon "fas", "edit 2x" %>
                <% end %>
                <%= button_to research_type_path(research_type), method: :delete do %>
                  <%= icon "fas", "trash 2x" %>
                <% end %>

              </div>
            </td>
          </tr>

        <% end %>
      </tbody>
    </table>
  </div>

  <%= paginate @research_types %>
</div>