
<%= render HeaderSectionComponent.new do |header| %>
  <%= header.with_action "Add education level", new_education_level_path, left_icon: icon('fas', 'plus fa-sm'), auth_check: can?(:create, EducationLevel) %>
<% end %>

<div class="w-full overflow-hidden rounded-lg shadow-xs">
  <div class="w-full overflow-x-auto">
    <table class="w-full whitespace-no-wrap">
      <thead>
        <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b bg-gray-50">
          <th class="px-4 py-3">#</th>
          <th class="px-4 py-3">Name</th>
          <th class="px-4 py-3">Date</th>
          <th class="px-4 py-3">Actions</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y">
        <% @education_levels.each_with_index do |education_level, index| %>
          <tr class="text-gray-700">
            <td class="px-4 py-3 text-sm">  
              <%= index + 1 %>
            </td>
            <td class="px-4 py-3 text-sm">
              <%= link_to education_level.name, education_level_path(education_level) %>
            </td>
            <td class="px-4 py-3 text-sm">
              <%= education_level.created_at %>
            </td>
            <td class="px-4 py-3">
              <div class="flex items-center space-x-4 text-sm">
                <%= link_to edit_education_level_path(education_level) do %>
                  <%= icon "fas", "edit 2x" %>
                <% end %>
                <%= button_to education_level_path(education_level), method: :delete do %>
                  <%= icon "fas", "trash 2x" %>
                <% end %>

              </div>
            </td>
          </tr>

        <% end %>
      </tbody>
    </table>
  </div>

  <%= paginate @education_levels %>
</div>
