

<%= render HeaderSectionComponent.new do |header| %>
  <% if can? :create, Faculty %>
    <%= header.with_action "Add faculty", new_faculty_path, left_icon: icon('fas', 'plus fa-sm') %>
  <% end %>
<% end %>

<div class="w-full overflow-hidden rounded-lg shadow-xs">
  <div class="w-full overflow-x-auto">
    <table class="w-full whitespace-no-wrap">
      <thead>
        <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b bg-gray-50">
          <th class="px-4 py-3">#</th>
          <th class="px-4 py-3">Name</th>
          <th class="px-4 py-3">Date</th>
          <th class="px-4 py-3">Actions</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y">
        <% @faculties.each_with_index do |faculty, index| %>
          <tr class="text-gray-700">
            <td class="px-4 py-3 text-sm">  
              <%= index + 1 %>
            </td>
            <td class="px-4 py-3 text-sm">
              <%= link_to faculty.name, faculty_path(faculty) %>
            </td>
            <td class="px-4 py-3 text-sm">
              <%= faculty.created_at %>
            </td>
            <td class="px-4 py-3">
              <div class="flex items-center space-x-4 text-sm">
                <%= link_to edit_faculty_path(faculty) do %>
                  <%= icon "fas", "edit 2x" %>
                <% end %>
                <%= button_to faculty_path(faculty), method: :delete do %>
                  <%= icon "fas", "trash 2x" %>
                <% end %>

              </div>
            </td>
          </tr>

        <% end %>
      </tbody>
    </table>
  </div>

  <%= paginate @faculties %>
</div>
