  <%= simple_form_for research_center, url: { action: "create" }, method: :post, local: true do |f| %>

    <% if research_center.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(research_center.errors.count, "error") %> prohibited this Research Center from being saved:</h2>

        <ul>
          <% research_center.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <%= f.input :name %>

    <%= f.button :submit, "Save", class: "px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple cursor-pointer" %>

  <% end %>
