<div id="<%= dom_id call %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= call.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= call.body %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= call.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Deadline:</strong>
    <%= call.deadline %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= call.user_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this call", call, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this call', edit_call_path(call), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
