<%= simple_form_for call, class: "contents" do |form| %>
  <% if call.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg">
      <h2><%= pluralize(call.errors.count, "error") %> prohibited this call from being saved:</h2>

      <ul>
        <% call.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.input :title %>
  <%= form.input :body %>
  <%= form.input :published %>
  <%= form.input :deadline %>

  <div class="inline">
    <%= form.button :submit, "Save Call" %>
    <%= link_to 'Back to calls', calls_path, class: "rounded-lg py-2 px-5 bg-gray-100 hover:bg-gray-200 inline-block font-medium" %>
  </div>
<% end %>
