
<%= render HeaderSectionComponent.new(title: "Research Calls") do %>
  <% if can? :create, Call %>
    <%= render ButtonComponent.new "New call", new_call_path, left_icon: icon('fas', 'plus fa-sm') %>
  <% end %>
<% end %>


<div class="w-full overflow-hidden rounded-lg shadow-xs">
  <div class="w-full overflow-x-auto">
    <table class="w-full whitespace-no-wrap">
      <thead>
        <tr
          class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b bg-gray-50"
        >
          <th class="px-4 py-3">#Code</th>
          <th class="px-4 py-3">Title</th>
          <th class="px-4 py-3">Date</th>
          <th class="px-4 py-3">Deadline</th>
          <th class="px-4 py-3">Actions</th>
        </tr>
      </thead>
      <tbody
        class="bg-white divide-y"
      >
        <% @calls.each_with_index do |research_call| %>
          <tr class="text-gray-700">
            <td class="px-4 py-3 text-sm">  
              <%= link_to research_call.code, call_path(research_call.id), class: "whitespace-nowrap text-blue-800" %>
            </td>
            <td class="px-4 py-3 text-sm">
              <%= research_call.title %>
            </td>
            <td class="px-4 py-3 text-sm">
              <%= research_call.created_at.strftime("%Y-%m-%d") %>
            </td>
            <td class="px-4 py-3 text-sm">
              <%= research_call.deadline %>
            </td>
            <td class="px-4 py-3">
              <div class="flex items-center space-x-4 text-sm">
                <%= link_to "Show", research_call %>
                <%= link_to "Edit", edit_call_path(research_call)%>
              </div>
            </td>
          </tr>

        <% end %>
      </tbody>
    </table>
  </div>

  <%= paginate @calls %>

</div>
