
<div class="mt-6 overflow-hidden bg-white shadow w-full" id="<%= dom_id user %>">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg font-medium leading-6 text-gray-900">User Information</h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">Details of <%= user.full_name %>.</p>
  </div>
  <div class="border-t border-gray-200">
    <dl>

      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Name</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= "#{user.first_name} #{user.middle_name}" %></dd>
      </div>

      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Email address: </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= user.email %></dd>
      </div>

      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Sex</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
          <%= User.sexes.key(user.read_attribute_before_type_cast(:sex)) %>
        </dd>
      </div>

      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Role</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= user.role %></dd>
      </div>

    </dl>

    <% if action_name != "show" %>
      <%= link_to "Edit this User", edit_user_path(user), class: "rounded-lg py-3 ml-2 px-5 bg-gray-200 inline-block font-medium" %>
      <hr class="mt-6">
    <% end %>

  </div>
</div>
