            <!-- Cards -->
            <div class="grid gap-6 my-6 md:grid-cols-2 xl:grid-cols-4">
              <!-- Card -->
              <div
                class="flex items-center p-4 bg-white rounded-lg shadow-xs"
              >
                <div
                  class="p-4 mr-4 text-orange-500 bg-orange-100 "
                >
                  <%= fa_icon "users" %>
                </div>
                <div>
                  <p
                    class="mb-2 text-sm font-medium text-gray-600"
                  >
                    Registered users
                  </p>
                  <p
                    class="text-lg font-semibold text-gray-700"
                  >
                    <%= User.all.count %>
                  </p>
                </div>
              </div>
              <!-- Card -->
              <div class="flex items-center p-4 bg-white rounded-lg shadow-xs">
                <div class="p-4 mr-4 text-green-500 bg-green-100 ">
                  <%= fa_icon "money" %>
                </div>
                <div>
                  <p class="mb-2 text-sm font-medium text-gray-600">
                    Account balance
                  </p>
                  <p class="text-lg font-semibold text-gray-700">
                    $ 46,760.89
                  </p>
                </div>
              </div>
              <!-- Card -->
              <div class="flex items-center p-4 bg-white rounded-lg shadow-xs">
                <div class="p-4 mr-4 text-blue-500 bg-blue-100">
                  <%= fa_icon "bullhorn" %>
                </div>
                <div>
                  <p class="mb-2 text-sm font-medium text-gray-600">
                    Posted research calls
                  </p>
                  <p class="text-lg font-semibold text-gray-700">
                    <%= Call.all.count %>
                  </p>
                </div>
              </div>
              <!-- Card -->
              <div class="flex items-center p-4 bg-white rounded-lg shadow-xs">
                <div class="p-4 mr-4 text-teal-500 bg-teal-100">
                  <%= fa_icon "bank" %>
                </div>
                <div>
                  <p class="mb-2 text-sm font-medium text-gray-600">
                    Research centers
                  </p>
                  <p class="text-lg font-semibold text-gray-700">
                    <%= ResearchCenter.all.count %>
                  </p>
                </div>
              </div>
            </div>

            <%= line_chart User.group_by_day(:created_at).count %>

