<aside
  :class="sidebarToggle ? 'translate-x-0' : '-translate-x-full'"
  class="absolute left-0 top-0 z-9999 flex h-screen w-72.5 flex-col overflow-y-hidden bg-black duration-300 ease-linear dark:bg-boxdark lg:static lg:translate-x-0"
  @click.outside="sidebarToggle = false"
>
  <!-- SIDEBAR HEADER -->
  <div class="flex items-center justify-between gap-2 px-6 py-5.5 lg:py-6.5">
    <%= link_to "RMIS", root_path, class: "lg:justify-self-center text-white text-2xl outline outline-1 hover:outline-2 px-2 py-1 dark:text-purple-800" %>

    <button
      class="block lg:hidden"
      @click.stop="sidebarToggle = !sidebarToggle"
    >
      <%= icon "arrow-left", width: "25", height: "23", class: "block lg:hidden" %>
    </button>
  </div>
  <!-- SIDEBAR HEADER -->

  <div
    class="no-scrollbar flex flex-col overflow-y-auto duration-300 ease-linear"
  >
    <!-- Sidebar Menu -->
    <nav
      class="mt-2 py-4 px-4 lg:mt-9 lg:px-6"
      x-data="{selected: $persist('Dashboard')}"
    >
      <!-- Menu Group -->
      <div>
        <%= menu_title "menu" %>

        <ul class="mb-6 flex flex-col gap-1.5">

          <%= render SidebarMenuItemComponent.new "Dashboard", to: user_root_path, icon_name: 'grid-alt', active: current_page?(user_root_path) %>
          <%= render SidebarMenuItemComponent.new "Calendar", to: "#", icon_name: 'calendar', active: current_page?("#") %>
          <%= render SidebarMenuItemComponent.new "Proposals", to: proposals_path, icon_name: 'pencil-alt' %>
          <%= render SidebarMenuItemComponent.new "Profile", to: user_profile_path, icon_name: 'user' %>
        </ul>
      </div>

    </nav>
    <!-- Sidebar Menu -->

  </div>
</aside>
