


<%= simple_form_for global_setting, class: "contents" do |form| %>

  <% if global_setting.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(global_setting.errors.count, "error") %> prohibited this global_setting from being saved:</h2>

      <ul>
        <% global_setting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-6 overflow-hidden bg-white shadow w-full">
    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-lg font-medium leading-6 text-gray-900">Global Settings</h3>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">Please modify carefully.</p>
    </div>
    <div class="border-t border-gray-200">
      <dl>
        <div class="bg-white px-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500 flex items-center"><%= form.label :university_name %></dt>
          <dd class="text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%= form.input :university_name, label: false %> </dd>
        </div>

        <div class="bg-white px-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500 flex items-center"><%= form.label :university_email %> </dt>
          <dd class="text-sm text-gray-900 sm:col-span-2 sm:mt-0"> <%= form.input :university_email, label: false %></dd>
        </div>

        <div class="bg-white px-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500 flex items-center"><%= form.label :university_phone %> </dt>
          <dd class="text-sm text-gray-900 sm:col-span-2 sm:mt-0"> <%= form.input :university_phone, label: false %></dd>
        </div>

        <div class="bg-white px-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500 flex items-center"><%= form.label :university_city %> </dt>
          <dd class="text-sm text-gray-900 sm:col-span-2 sm:mt-0"> <%= form.input :university_city, label: false %></dd>
        </div>

        <div class="bg-white px-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500 flex items-center"><%= form.label :university_country %> </dt>
          <dd class="text-sm text-gray-900 sm:col-span-2 sm:mt-0 flex"> <%= form.country_select :university_country, label: false %></dd>
        </div>

        <div class="bg-white px-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500 flex items-center"><%= form.label :allowed_pi_per_year %> </dt>
          <dd class="text-sm text-gray-900 sm:col-span-2 sm:mt-0"> <%= form.input :allowed_pi_per_year, label: false %></dd>
        </div>

        <div class="bg-white px-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500 flex items-center"><%= form.label :allowed_co_per_year %> </dt>
          <dd class="text-sm text-gray-900 sm:col-span-2 sm:mt-0"> <%= form.input :allowed_co_per_year, label: false %></dd>
        </div>

        <div class="bg-white px-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500 flex items-center"><%= form.label :date_format %> </dt>
          <dd class="text-sm text-gray-900 sm:col-span-2 sm:mt-0"> <%= form.input :date_format, label: false %></dd>
        </div>

        <div class="bg-white px-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500 flex items-center"><%= form.label :default_password %></dt>
          <dd class="text-sm text-gray-900 sm:col-span-2 sm:mt-0"> <%= form.input :default_password, as: :string, label: false %></dd>
        </div>

        <div class="bg-white px-4 mb-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500 flex items-center"></dt>
          <dd class="text-sm text-gray-900 sm:col-span-2 sm:mt-0"> <%= form.button :submit, 'Save Setting' %> </dd>
        </div>


      </dl>

    </div>
  </div>

<% end %>

