<div id="<%= dom_id academic_rank %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= academic_rank.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Order key:</strong>
    <%= academic_rank.order_key %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this academic rank", academic_rank, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this academic rank', edit_academic_rank_path(academic_rank), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
