<%= simple_form_for academic_rank, class: "contents" do |form| %>
  <% if academic_rank.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(academic_rank.errors.count, "error") %> prohibited this academic_rank from being saved:</h2>

      <ul>
        <% academic_rank.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.input :name %>

  <%= form.button :submit %>

  <%= link_to 'Back to academic ranks', academic_ranks_path, class: "ml-2 rounded-lg py-2 px-5 bg-gray-100 inline-block font-medium" %>
<% end %>
