<%= turbo_frame_tag "researchers" do %>
  <table class="w-full whitespace-no-wrap">
    <thead>
      <tr
        class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b bg-gray-50"
      >
        <th class="px-4 py-3">Researcher</th>
        <th class="px-4 py-3  grid justify-items-end">Actions</th>
      </tr>
    </thead>
    <tbody
      class="bg-white divide-y"
    >
      <% researchers.each do |researcher| %>
        <tr class="text-gray-700">
          <td class="px-4 py-3">
            <div class="flex items-center text-sm">
              <!-- Avatar with inset shadow -->
              <div
                class="relative hidden w-8 h-8 mr-3 rounded-full md:block"
              >
                <img
                  class="object-cover w-full h-full rounded-full"
                  src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                  alt=""
                  loading="lazy"
                />
                <div
                  class="absolute inset-0 rounded-full shadow-inner"
                  aria-hidden="true"
                ></div>
              </div>
              <div>
                <p class="font-semibold"><%= researcher.full_name %></p>
                <p class="text-xs text-gray-600">
                  <%= researcher.email %>
                </p>
              </div>
            </div>

          </td>

          <td class="px-4 py-3 grid justify-items-end">
            <div class="space-x-4 text-sm">
              <%= link_to "Envite", proposal_members_path(researcher.id), method: :post, class: "bg-blue-500 hover:bg-blue-400 text-white font-bold pt-2 pb-1 px-4 border-b-4 border-blue-700 hover:border-blue-500" %>
            </div>
          </td>
        </tr>

      <% end %>

    </tbody>
  </table>

  <%= paginate researchers %>
<% end %>
