<%= turbo_frame_tag "researchers", class: "shadow overflow-hidden rounded border-b border-gray-200" do %>

  <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
    <%= form_with model: @proposal, url: { action: "edit" }, method: :get, local: true do |f| %>
      
      <div class="relative text-gray-500 focus-within:text-purple-600">
        <input class="block w-full pr-20 mt-1 text-sm text-black dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray form-input" placeholder="Jane Doe">
        <button class="absolute inset-y-0 right-0 px-4 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-r-md active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple rounded-r-lg">
          Search
        </button>
      </div>


    <% end %>

    <table class="w-full whitespace-no-wrap">
      <thead>
        <tr
          class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
        >
          <th class="px-4 py-3">Researcher</th>
          <th class="px-4 py-3">Actions</th>
        </tr>
      </thead>
      <tbody
        class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
      >
        <% researchers.each do |researcher| %>
          <tr class="text-gray-700 dark:text-gray-400">
            <td class="px-4 py-3">
              <div class="flex items-center text-sm">
                <!-- Avatar with inset shadow -->
                <div
                  class="relative hidden w-8 h-8 mr-3 rounded-full md:block"
                >
                  <img
                    class="object-cover w-full h-full rounded-full"
                    src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                    alt=""
                    loading="lazy"
                  />
                  <div
                    class="absolute inset-0 rounded-full shadow-inner"
                    aria-hidden="true"
                  ></div>
                </div>
                <div>
                  <p class="font-semibold"><%= "#{researcher.first_name} #{researcher.middle_name}" %></p>
                  <p class="text-xs text-gray-600 dark:text-gray-400">
                    <%= researcher.email %>
                  </p>
                </div>
              </div>

            </td>

            <td class="px-4 py-3">
              <div class="flex items-center space-x-4 text-sm">
                <%= button_to fa_icon('trash 2x'), proposal_path(researcher.id), method: :destroy, html: { class: "flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray" } %>
              </div>
            </td>
          </tr>

        <% end %>

      </tbody>
    </table>
  </div>



<% end %>