<h2
  class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
>
  Create Proposal
</h2>

<div
  class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800"
>
  <%= form_with model: @proposal, url: { action: "create" }, method: :post, local: true do |f| %>
    <label class="block text-sm">
      <%= content_tag(:span, "Title", class: "text-gray-700 dark:text-gray-400") %>
      <%= f.text_field :title, class: "block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input", placeholder: "Proposal title" %>
    </label>

    <label class="block mt-4 text-sm">
      <%= content_tag(:span, "Abstract", class: "text-gray-700 dark:text-gray-400") %>
      <%= f.text_area :abstract, class: "block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-textarea focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray", rows: "3", placeholder: "Abstract of the proposal" %>
    </label>

    <label class="block mt-4 text-sm">
      <span class="text-gray-700 dark:text-gray-400">
        Requested Limit
      </span>
      <select
        class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
      >
        <option>$1,000</option>
        <option>$5,000</option>
        <option>$10,000</option>
        <option>$25,000</option>
      </select>
    </label>

    <label class="block mt-4 text-sm">
      <%= f.submit "Add proposal", class: "px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple" %>
    </label>

  <% end %>
</div>
