<h2
  class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
>
  Create Proposal
</h2>

<div
  class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800"
>
  <%= simple_form_for @proposal, url: { action: "create" }, method: :post, local: true, html: { multipart: true } do |f| %>

    <%= f.error_notification %>

    <%= f.input :attachement %>
    <%= f.input :title %>
    <%= f.input :abstract %>
    <%= f.association :theme %>

    <label class="block mt-4 text-sm">
      <%= f.button :submit, "Add proposal" %>
    </label>

  <% end %>
</div>
