<h2 class="my-6 text-2xl font-semibold text-gray-700">Create Proposal</h2>

<div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md visible">
  <%= simple_form_for @proposal, url: { action: "create" }, data: { controller: "new-proposal", "new-proposal-types-value": "#{ @research_types.to_json }" }, method: :post, local: true, html: { multipart: true } do |f| %>

    <%= render "shared/error_messages", resource: @proposal %>

    <%= f.error_notification %>

    <%= f.association :research_type, input_html: { data: { action: "new-proposal#makeChanges" } } %>
    <%= f.association :call, wrapper_html: { data: { "new-proposal-target": "call" }, class: "hidden"} %>
    <%= f.input :attachement %>
    <%= f.input :title %>
    <%= f.input :abstract %>

    <label class="block mt-4 text-sm">
      <%= f.button :submit, "Add proposal" %>
    </label>

  <% end %>
</div>
