
<h2
  class="my-6 text-2xl font-semibold text-gray-700"
>
  Proposal
</h2>

<div class="w-full overflow-hidden rounded-lg shadow-xs">

  <div class="w-full px-4 py-3 mb-8 bg-white rounded-lg shadow-md">

    <h4 class="mb-4 font-semibold text-gray-600"><%= @proposal.title %></h4>

    <details>
      <summary class="text-gray-600 cursor-pointer">Abstract</summary>
      <div>
        <p class="mb-4 text-gray-600">
          <%= @proposal.abstract %></p>
      </div>
    </details>

    <div class="w-full pt-8 flex justify-end">
      <%= link_to @proposal.attachement_url, class: "flex items-center justify-between px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple" do %>
        <%= content_tag(:span, "Download", class: "mr-2" ) %>
        <%= fa_icon 'download' %>
      <% end %>
    </div>
  </div>

  <h4 class="mb-4 text-lg font-semibold text-gray-600">Add member Turbo Frame</h4>
  <%= render "researchers", researchers: @researchers %>

  <h4 class="mb-4 text-lg font-semibold text-gray-600">Members</h4>

  <div class="w-full overflow-x-auto">
    <table class="w-full whitespace-no-wrap">
      <thead>
        <tr
          class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b bg-gray-50"
        >
          <th class="px-4 py-3">Researcher</th>
          <th class="px-4 py-3">Role</th>
          <th class="px-4 py-3">Status</th>
          <th class="px-4 py-3">Date</th>
          <th class="px-4 py-3">Actions</th>
        </tr>
      </thead>
      <tbody
        class="bg-white divide-y"
      >
        <% @members.each do |member| %>
          <tr class="text-gray-700">
            <td class="px-4 py-3">
              <div class="flex items-center text-sm">
                <!-- Avatar with inset shadow -->
                <div
                  class="relative hidden w-8 h-8 mr-3 rounded-full md:block"
                >
                  <img
                    class="object-cover w-full h-full rounded-full"
                    src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                    alt=""
                    loading="lazy"
                  />
                  <div
                    class="absolute inset-0 rounded-full shadow-inner"
                    aria-hidden="true"
                  ></div>
                </div>
                <div>
                  <p class="font-semibold"><%= "#{member.user.first_name} #{member.user.middle_name}" %></p>
                  <p class="text-xs text-gray-600">
                    <%= member.role %>
                  </p>
                </div>
              </div>

            </td>
            <td class="px-4 py-3 text-xs">
              <%= content_tag(:span, member.role, class: "px-2 py-1 font-semibold leading-tight text-gray-700 bg-gray-100 rounded-full") %>
            </td>

            <td class="px-4 py-3 text-xs">
              <%= content_tag(:span, member.status, class: "px-2 py-1 font-semibold leading-tight text-orange-700 bg-orange-100 rounded-full") %>
            </td>

            <td class="px-4 py-3 text-sm">
              <%= member.created_at.to_date %>
            </td>

            <td class="px-4 py-3">
              <div class="flex items-center space-x-4 text-sm">
                <%= link_to fa_icon('edit 2x'), proposal_path(member.id), html: { class: "flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg focus:outline-none focus:shadow-outline-gray" } %>
                <%= button_to fa_icon('trash 2x'), proposal_path(member.id), method: :destroy, html: { class: "flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg focus:outline-none focus:shadow-outline-gray" } %>
              </div>
            </td>
          </tr>

        <% end %>

      </tbody>
    </table>
  </div>
  <div
    class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t bg-gray-50 sm:grid-cols-9"
  >
    <span class="flex items-center col-span-3">
      Showing 21-30 of 100
    </span>
    <span class="col-span-2"></span>
    <!-- Pagination -->
    <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
      <nav aria-label="Table navigation">
        <ul class="inline-flex items-center">
          <li>
            <button
              class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple"
              aria-label="Previous"
            >
              <svg
                class="w-4 h-4 fill-current"
                aria-hidden="true"
                viewBox="0 0 20 20"
              >
                <path
                  d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                  fill-rule="evenodd"
                ></path>
              </svg>
            </button>
          </li>
          <li>
            <button
              class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple"
            >
              1
            </button>
          </li>
          <li>
            <button
              class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple"
            >
              2
            </button>
          </li>
          <li>
            <button
              class="px-3 py-1 text-white transition-colors duration-150 bg-purple-600 border border-r-0 border-purple-600 rounded-md focus:outline-none focus:shadow-outline-purple"
            >
              3
            </button>
          </li>
          <li>
            <button
              class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple"
            >
              4
            </button>
          </li>
          <li>
            <span class="px-3 py-1">...</span>
          </li>
          <li>
            <button
              class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple"
            >
              8
            </button>
          </li>
          <li>
            <button
              class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple"
            >
              9
            </button>
          </li>
          <li>
            <button
              class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple"
              aria-label="Next"
            >
              <svg
                class="w-4 h-4 fill-current"
                aria-hidden="true"
                viewBox="0 0 20 20"
              >
                <path
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"
                  fill-rule="evenodd"
                ></path>
              </svg>
            </button>
          </li>
        </ul>
      </nav>
    </span>
  </div>

</div>