
<h2
  class="my-6 text-2xl font-semibold text-gray-700"
>
  Proposal
</h2>

<div class="w-full overflow-hidden rounded-lg shadow-xs">

  <div class="w-full px-4 py-3 mb-8 bg-white rounded-lg shadow-md">

    <h4 class="mb-4 font-semibold text-gray-600"><%= @proposal.title %></h4>

    <details>
      <summary class="text-gray-600 cursor-pointer">Abstract</summary>
      <div>
        <p class="mb-4 text-gray-600">
          <%= @proposal.abstract %></p>
      </div>
    </details>

    <div class="w-full pt-8 flex justify-end">
      <%= link_to @proposal.attachement_url, class: "rounded-full flex items-center justify-between px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-blue-600 border border-transparent active:bg-blue-600 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue" do %>
        <%= fa_icon 'download' %>
        <%= content_tag(:span, "Download", class: "ml-2" ) %>
      <% end %>
    </div>
  </div>

  <h4 class="mb-4 text-lg font-semibold text-gray-600">Envite Researchers to the Proposal</h4>

  <div class="px-4 py-3 mb-8 bg-white rounded-lg  overflow-x-auto shadow-md">
    <%= form_with(url: search_researchers_path, method: :get, data: { turbo_frame: "researchers" }, html: { autocomplete: "off"}) do |f| %>
      <%= f.hidden_field :proposal_id, value: @proposal.id %>
      <div class="relative text-gray-500 focus-within:text-purple-600 mb-6">
        <%= f.search_field :search_key, class: "block w-full pr-20 mt-1 text-sm text-black focus:border-purple-400 focus:outline-none focus:shadow-outline-purple form-input  rounded-3xl", placeholder: "Search researcher ...", min: "2" %>
        <%= f.submit "Search", :class => "cursor-pointer absolute inset-y-0 right-0 px-4 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple rounded-r-3xl" %>
      </div>

    <% end %>

    <%= render "researchers", researchers: @researchers %>

  </div>

  <h4 class="mb-4 text-lg font-semibold text-gray-600">Members</h4>

  <div class="px-4 py-3 mb-8 bg-white rounded-lg  overflow-x-auto shadow-md">
    <%= render "members", members: @members %>
  </div>

</div>

<%= render "modal" %>
