<h2
  class="my-6 text-2xl font-semibold text-gray-700"
>
  Education Levels
</h2>

<div class="pb-2 w-full flex justify-end">
  <%= link_to "New academic rank", new_education_level_path, class: "px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border rounded-lg border-transparent active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple" %>
</div>

<div class="w-full overflow-hidden rounded-lg shadow-xs">
  <div class="w-full overflow-x-auto">
    <table class="w-full whitespace-no-wrap">
      <thead>
        <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b bg-gray-50">
          <th class="px-4 py-3">#</th>
          <th class="px-4 py-3">Name</th>
          <th class="px-4 py-3">Date</th>
          <th class="px-4 py-3">Actions</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y">
        <% @education_levels.each_with_index do |education_level, index| %>
          <tr class="text-gray-700">
            <td class="px-4 py-3 text-sm">  
              <%= index + 1 %>
            </td>
            <td class="px-4 py-3 text-sm">
              <%= link_to education_level.name, education_level_path(education_level) %>
            </td>
            <td class="px-4 py-3 text-sm">
              <%= education_level.created_at %>
            </td>
            <td class="px-4 py-3">
              <div class="flex items-center space-x-4 text-sm">
                <%= link_to edit_education_level_path(education_level) do %>
                  <%= fa_icon "edit 2x" %>
                <% end %>
                <%= button_to education_level_path(education_level), method: :delete do %>
                  <%= fa_icon "trash 2x" %>
                <% end %>

              </div>
            </td>
          </tr>

        <% end %>
      </tbody>
    </table>
  </div>

  <%= paginate @education_levels %>
</div>
