<h2 class="my-6 text-2xl font-semibold text-gray-700">Subscribers</h2>

  <div 
    id="alert-border-1" 
    x-show="isAlertOpen" 
    x-transition:enter="transition ease-out duration-300"    
    x-transition:enter-start="opacity-0"
    x-transition:enter-end="opacity-100"
    x-transition:leave="transition ease-in duration-300"
    x-transition:leave-start="opacity-100"
    x-transition:leave-end="opacity-0"
    class="flex p-4 mb-4 bg-purple-100 border-t-4 border-purple-500" 
    role="alert">
      <svg class="flex-shrink-0 w-5 h-5 text-purple-700" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
      <div class="ml-3 text-sm font-medium text-purple-700">
        A simple info alert with an <a href="#" class="font-semibold underline hover:text-purple-800">example link</a>. Give it a click if you like.
      </div>
      <button type="button" @click="closeAlert" class="ml-auto -mx-1.5 -my-1.5 bg-purple-100 text-purple-500 rounded-lg focus:ring-2 focus:ring-purple-400 p-1.5 hover:bg-purple-200 dark:hover:bg-purple-300 inline-flex h-8 w-8" data-dismiss-target="#alert-border-1" aria-label="Close">
        <span class="sr-only">Dismiss</span>
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      </button>
  </div>

<div class="w-full overflow-hidden rounded-lg shadow-xs">
  <div class="w-full overflow-x-auto">
    <table class="w-full whitespace-no-wrap">
      <thead>
        <tr
          class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b bg-gray-50"
        >
          <th class="px-4 py-3">#</th>
          <th class="px-4 py-3">Email address</th>
          <th class="px-4 py-3">Date</th>
          <th class="px-4 py-3">Status</th>
        </tr>
      </thead>
      <tbody
        class="bg-white divide-y"
      >
        <% @subscribers.each_with_index do |subscriber, index| %>
          <tr class="text-gray-700">
            <td class="px-4 py-3 text-sm">  
              <%= index + 1 %>
            </td>
            <td class="px-4 py-3 text-sm">
              <%= subscriber.email %>
            </td>
            <td class="px-4 py-3 text-sm">
              <%= subscriber.created_at.strftime('%b %-d, %Y') %>
            </td>
            <td class="px-4 py-3">
              <div class="flex items-center space-x-4 text-sm">

                <label for="<%= subscriber.id %>" class="inline-flex relative items-center cursor-pointer">
                  <input @click="openAlert" type="checkbox" value="" id="<%= subscriber.id %>" class="sr-only peer" <%= 'checked' if subscriber.active?  %> >
                  <div class="w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-purple-300 rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all peer-checked:bg-purple-600"></div>
                </label>

              </div>
            </td>
          </tr>

        <% end %>
      </tbody>
    </table>
  </div>

  <%= paginate @subscribers %>
</div>
