<!DOCTYPE html>
<html lang="en" x-data="data()">
  <head>
    <title>RMIS-Research Management Information System</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= javascript_include_tag "alpine.min" %>
    <%= javascript_include_tag "init-alpine" %>
    <%= javascript_include_tag "focus-trap" %>

    <%= favicon_link_tag asset_path("favicon.ico") %>
  </head>

  <body>

    <div
      class="flex min-h-screen bg-gray-100"
      :class="{ 'overflow-hidden': isSideMenuOpen}">
      <!-- Desktop sidebar -->
      <aside class="z-20 hidden w-64 bg-white md:block flex-shrink-0">
      <% if can? :access, :admin_sidebar %>
        <%= render "shared/admin_sidebar" %>
      <% else %>
        <%= render "shared/sidebar" %>
      <% end %>
      </aside>
      <!-- Mobile sidebar -->

      <!-- Backdrop -->
      <div
        x-show="isSideMenuOpen"
        x-transition:enter="transition ease-in-out duration-150"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100"
        x-transition:leave="transition ease-in-out duration-150"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0"
        class="fixed inset-0 z-10 flex items-end bg-opacity-50 sm:items-center sm:justify-center"></div>
      <aside
        class="fixed inset-y-0 z-20 flex-shrink-0 w-64 mt-16 overflow-y-auto bg-white md:hidden"
        x-show="isSideMenuOpen"
        x-transition:enter="transition ease-in-out duration-150"
        x-transition:enter-start="opacity-0 transform -translate-x-20"
        x-transition:enter-end="opacity-100"
        x-transition:leave="transition ease-in-out duration-150"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0 transform -translate-x-20"
        <%= render "shared/sidebar" %>>
      <div class="flex flex-col flex-1">
        <header class="z-10 py-3 bg-gray-600 shadow-md">
          <div
            class="container flex items-center justify-between h-full px-6 mx-auto text-purple-600">
            <!-- Mobile hamburger -->
            <button
              class="p-1 -ml-1 mr-5 rounded-md md:hidden focus:outline-none focus:shadow-outline-purple"
                  <%= avatar_for current_user, size: 8, span_class: "text-xs" %>>
                <template x-if="isProfileMenuOpen">
                  <ul
                    x-transition:leave="transition ease-in duration-150"
                    x-transition:leave-start="opacity-100"
                    x-transition:leave-end="opacity-0"
                      <%= link_to icon("fas", "user lg", class: "w-7", text: "Profile"), destroy_user_session_path, method: :delete, class: "inline-flex items-center w-full px-2 py-1 text-sm font-semibold transition-colors duration-150 rounded-md hover:bg-gray-100 hover:text-gray-800" %>>
                    <li class="flex">
                      <%= link_to icon("fas", "gear lg", class: "w-7", text: "Settings"), destroy_user_session_path, method: :delete, class: "inline-flex items-center w-full px-2 py-1 text-sm font-semibold transition-colors duration-150 rounded-md hover:bg-gray-100 hover:text-gray-800" %>
                    </li>
                    <li class="flex">
                      <%= button_to icon("fas", "sign-out lg", class: "w-7", text: "Log out"), destroy_user_session_path, method: :delete, class: "inline-flex items-center w-full px-2 py-1 text-sm font-semibold transition-colors duration-150 rounded-md hover:bg-gray-100 hover:text-gray-800", form_class: "px-0 w-full" %>
                    </li>
                  </ul>
                </template>
              </li>
            </ul>
          </div>
        </header>
        <main class="h-full pb-16 overflow-y-auto">

          <div class="container px-4 mx-auto grid">
            <%# This div is to preload the border classes of tailwind that are used in the profile pictures of users %>
            <div class="bg-[url('/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBFZz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--95abfce758717d6e775774dd2c6b6fe6a5f3da7a/photo_2022-12-04_23-36-22.png')] border-none"></div>

            <% if notice.present? %>
              <div class="flex items-center bg-purple-500 text-white text-sm font-bold px-4 py-3 mt-6" role="alert">
                <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.432 0c1.34 0 2.01.912 2.01 1.957 0 1.305-1.164 2.512-2.679 2.512-1.269 0-2.009-.75-1.974-1.99C9.789 1.436 10.67 0 12.432 0zM8.309 20c-1.058 0-1.833-.652-1.093-3.524l1.214-5.092c.211-.814.246-1.141 0-1.141-.317 0-1.689.562-2.502 1.117l-.528-.88c2.572-2.186 5.531-3.467 6.801-3.467 1.057 0 1.233 1.273.705 3.23l-1.391 5.352c-.246.945-.141 1.271.106 1.271.317 0 1.357-.392 2.379-1.207l.6.814C12.098 19.02 9.365 20 8.309 20z" /></svg>
                <p><%= notice %></p>
              </div>
            <% end %>

            <%= turbo_frame_tag "user_modal" %>

            <%= yield %>
          </div>
        </main>
      </div>
    </div>

  </body>
</html>
