<!DOCTYPE html>
<html class="h-full bg-gray-50">
  <head>
    <title>RMIS-Research Management Information System</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body class="h-full bg-gray">
    <%= render 'shared/public_header' %>
    <div class="bg-gray-100">
      <%= yield %>
    </div>
  </body>
</html>
